#library-bg {
    background: url("https://www.wolkenspeicher.cloud/index.php/s/5KHwRFRHF7bGQeg/download") fixed !important;
    background-size: cover !important;
    position: absolute;
    width: 100%;
    height: 100%;
}

#library {
    background: linear-gradient(-45deg, #00000090, #00000085);
    position: relative;
    width: 100%;
    height: 100%;

    #instance-view {
        div.glass {
            width: 20rem;
            min-width: 20rem;
            max-width: 20rem;

            .card {
                min-width: 19rem;
                width: 19rem;
                max-width: 19rem;

                min-height: 8rem;
                height: fit-content;
                max-height: 12rem;

                .card-header {
                    max-height: fit-content;
                }
            }
        }

        #launch-button {
            position: absolute;
            bottom: 0.5rem;
            right: 0.5rem;
            z-index: 10;
            height: 4rem;
            font-size: 1.2rem;
            font-weight: 750;
        }
    }

    #library-title {
        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        span.icon {
            margin-left: 2.5rem;
        }

        img {
            position: absolute;
            max-height: 2rem;
            max-width: 2rem;
        }
    }

    .nav {
        container-type: inline-size;
        container-name: nav-container;

        transition: none;
        * {
            transition: none;
        }

        .nav-item {
            .nav-link {
                color: var(--nex-iv);
                padding: 0.25rem 0.5rem;
                border-radius: 0;
                background: var(--nex-brighter-200);
                border: 1px solid transparent;
                margin: 0 0 0.25rem 0;
            }

            .nav-link:hover {
                background: var(--nex-brighter-300);
                transition: all 0.15s ease;
            }

            .nav-link.active {
                background: var(--nex-primary);
                border: 1px solid var(--nex-primary-accent);
                box-shadow: 0 0 0.3rem #00000050;
                transition: all 0.15s ease;
            }

            .nav-link.left {
                border-radius: var(--bs-border-radius-lg) 0 0 var(--bs-border-radius-lg);
            }

            .nav-link.right {
                border-radius: 0 var(--bs-border-radius-lg) var(--bs-border-radius-lg) 0;
            }
        }

        .nav-item.disabled {
            opacity: 0.75;
            cursor: not-allowed;
        }
    }



    @container nav-container (max-width: 31rem) {
        .nav-link {
            font-size: 0;
        }

        .nav-link i {
            font-size: 1.2rem;
            margin: 0;
        }
    }


    * {
        transition: all var(--nex-animation-speed) ease;
    }

    .submenu {
        width: 100%;
    }

    #microsoft-button {
        position: relative;
        padding: 1rem 2rem;
        font-size: 1.3rem;
        margin-top: auto;
        background: yellow;
        color: black;
        opacity: 0.80;

        text-shadow: none !important;
        letter-spacing: unset !important;
        * {
            box-shadow: none !important;
            text-shadow: none !important;
        }
    }

    #microsoft-button:hover {
        opacity: 1;
    }

    #microsoft-button.clicked {
        opacity: 0.25;
        cursor: unset;
    }

    .login-view {
        div {
            flex: 1 !important;
        }

        div.glass {
            width: fit-content !important;
            max-width: fit-content !important;
        }

        .card.glass {
            width: 100% !important;
        }
    }

    #tab-about-content {
        position: relative;
        overflow: hidden;
        overflow-y: auto;
        img {
            max-width: 100%;
            object-fit: contain;
        }
    }
}